# Aktivieren des URL-Rewriting

RewriteEngine On




# Caching-Regeln für statische Dateien

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType application/font-woff2 "access plus 1 year"
    ExpiresByType application/font-woff "access plus 1 year"
    ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
    ExpiresByType font/ttf "access plus 1 year"
    ExpiresByType font/otf "access plus 1 year"
    ExpiresByType font/woff "access plus 1 year"
    ExpiresByType font/woff2 "access plus 1 year"
</IfModule>

# Sicherheitsheader

<IfModule mod_headers.c>
    # Verhindert Clickjacking
    Header always append X-Frame-Options SAMEORIGIN
    # Verhindert MIME-Type Sniffing
    Header set X-Content-Type-Options nosniff
    # Aktiviert HSTS (Strict-Transport-Security)
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
    # Setzt keine Referrer-Informationen bei HTTPS-URLs
    Header set Referrer-Policy "no-referrer-when-downgrade"
    # Deaktiviert das Laden von Inhalten in einer iFrame
    Header set Content-Security-Policy "frame-ancestors 'self'"
    # Permissions-Policy für Datenschutz (z.B. keine Verwendung von `interest-cohort`)
    Header set Permissions-Policy "interest-cohort=()"
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|jpeg|png|gif|webp|svg|ico)$">
        Header set Cache-Control "public, max-age=31536000"
    </FilesMatch>
</IfModule>

# Deaktivieren des Verzeichnislistings

Options -Indexes

# Benutzerdefinierte Fehlerseiten

ErrorDocument 400 /400.html
ErrorDocument 401 /401.html
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 405 /405.html
ErrorDocument 408 /408.html
ErrorDocument 422 /422.html
ErrorDocument 429 /429.html
ErrorDocument 500 /500.html
ErrorDocument 501 /501.html
ErrorDocument 502 /502.html
ErrorDocument 503 /503.html
ErrorDocument 504 /504.html
ErrorDocument 505 /505.html
ErrorDocument 511 /511.html

Redirect 301 /assets/downloads/AGB-24Webdesign.pdf https://www.webdesign-alcor.at
Redirect 301 /www.RealEstateTechGuy.com https://www.webdesign-alcor.at
Redirect 301 /matchpoint https://www.webdesign-alcor.at
Redirect 301 /holostyak-stb-2021 https://www.webdesign-alcor.at
Redirect 301 /assets/img/visitenkarten.svg https://www.webdesign-alcor.at
Redirect 301 /assets/img/referenzen/tycho-europe.webp https://www.webdesign-alcor.at
Redirect 301 /dialuplocations.asp https://www.webdesign-alcor.at
Redirect 301 /assets/img/flyer.svg https://www.webdesign-alcor.at

